/* Give your page a fun background color */
body{
    background-color: rgb(102, 146, 102);
}
/* Make the header and footer a different color from the background */
header, footer{
    background-color: rgb(223, 75, 179);
}


/* Align the h1 containing your name in the center of the header*/
header h1 {
    font-size: 50px;
    height: 80px;
    padding-top: 20px;
    text-align: center;
}
    

/* Make your p tag a different color and italic */
footer p {
    color:rgb(10, 1, 18);
    font-style: italic;
    padding-left: 10px;
}

footer {
    align-items: center;
    bottom: 0;
    display:flex;
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    justify-content: center;
    margin-left: -10px;
    position:absolute;
    width: 100%;
}

footer img {
    border-radius: 50%;
    margin-left: 10px;
}



/* Put a border around your image */
.headshot{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.headshot img {
    border-style: dotted;
}

/* Change the font-family of your list */
ul li {
    font-family:cursive;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}